body {
  font-family: sans-serif;
  color: #444444;
  font-size: 18px;
}

form {
  display: inline-block;
  margin: 1rem;
}

textarea {
  resize: vertical;
}

fieldset {
  padding: 1rem;
}

legend {
  font-size: 1.5rem;
}
